<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <a href="/refresh"> Refresh</a>
    <form action="/submit" method="POST">
        <label for="blogType">Blog classification:</label><br>
        <input type="text" id="blogType" name="blogType" placeholder="life, sports, travel etc."><br>
        <label for="blog">Write your mind:</label><br>
        <textarea type="text" id="blog" name="blog" placeholder="Blog"></textarea><br>
        <input type="submit" value="Submit">
      </form>
    <h2>Blogs: </h2>
    <% if (locals.blogList) { %>
        <% blogList.forEach(element => { %>
            <div class="blog-title"><h3><%= element.blogType %></h3></div>
            <div class="blog-para"><p><%= element.inputText %></p></div>
            <form action="/delete" method="POST">
                <input type="hidden" name="blogID" value=<%= element.id %> >
                <input type="submit" value="Delete">
            </form>
            <form action="/edit" method="POST">
                <input type="hidden" name="blogID" value=<%= element.id %> >
                <input type="submit" value="Edit">
            </form>
        <%});%>
    <% } %>
    <% if (locals.blogListEdit) { %>
        <form action="/resubmit" method="POST">
            <input type="text" id="blogType" name="blogType" value=<%= blogListEdit.blogType %>><br>
            <textarea type="text" id="blog" name="blog" ><%= blogListEdit.inputText %></textarea><br>
            <input type="hidden" name="blogID" value=<%= blogListEdit.id %> >
            <input type="submit" value="ReSubmit">
        </form>
    <% } %>
</body>
</html>